/* app css stylesheet */

/**
CSS Style Sections

1. Global 
2. Navigation
3. Homepage
**/


/** Section 1 - Global Styles **/

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: rgb(119, 119, 119);
	background-color: rgb(248, 248, 248);
}

/** Section 1 - Navigation Styles **/

.brand {
  background: url(../img/jhw-logo.png) no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  margin-left: 8px;
}

.nav-menu-font{
	font-weight: 200;
}

#peopleDropdownMenu li a{
	font-weight: 200;
}



/** Section 3 - Homepage Styles **/

.homepage-body-title {
	text-align: center;
	font-weight: 100;
}

#bodySection{
	min-height: 100%;
}

#bodySection p{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#bodySection h1{
	text-align: center;
	font-weight: 100;
}

.homepage-body-logo{	
	height: 400px;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
	border: 1px solid rgb(119, 119, 119);
	text-align: center;
}

#homescreen-portrait{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
