
#back-button {
    width: 12%;
    height: 100%;
    float: left;
    background-color: lightgray;
}

#forward-button {
    width: 12%;
    height: 497px;
    float: left;
    background-color: lightgray;
}

/* Event Images*/
.event-image {
	width: 100%;
    margin: 0px auto 0px auto;
    padding: 0px 20px 0px 20px;
    display: block;
}

#or-01-2014 {
	max-width: 885px;
}

#or-01-2013 {
	max-width: 659px;
}

#or-01-2012 {
    max-width: 610px;
}

#crab-grab-2011 {
    max-width: 547px;
}
