<section id="donateSection">
<div id="donateBanner">
	<form id="donateSection" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="7DL476KKXW6UA">
	<div class="bannerDisplay">
	<span class="donateText"><input type="hidden" name="on0" value="Sponsor The 4th Annual Oyster Roast">Sponsor The 4th Annual Oyster Roast </span>
	<select name="os0">
		<option value="Host Committee - 4 Tickets">Host Committee - 4 Tickets $250.00 USD</option>
		<option value="Young Professional - 2 Tickets">Young Professional - 2 Tickets $100.00 USD</option>
		<option value="Sponsor- 6 Tickets">Sponsor- 6 Tickets $1,000.00 USD</option>
		<option value="Benefactor - 10 Tickets">Benefactor - 10 Tickets $2,500.00 USD</option>
	</select> 
	</div>
	<input type="hidden" name="currency_code" value="USD">
	<input class="bannerPayButton" type="submit"  border="0" value="Sponsor Now!" name="submit" alt="PayPal - The safer, easier way to pay online!">
	</form>
</section>