<section id="donateSection">
	<form id="donateSection" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="7DL476KKXW6UA">
<table>
<tbody><tr><td><input type="hidden" name="on0" value="Sponsor The 4th Annual Oyster Roast">Sponsor The 4th Annual Oyster Roast</td></tr><tr><td><select name="os0">
	<option value="Host Committee - 4 Tickets">Host Committee - 4 Tickets $250.00 USD</option>
	<option value="Young Professional - 2 Tickets">Young Professional - 2 Tickets $100.00 USD</option>
	<option value="Sponsor- 6 Tickets">Sponsor- 6 Tickets $1,000.00 USD</option>
	<option value="Benefactor - 10 Tickets">Benefactor - 10 Tickets $2,500.00 USD</option>
</select> </td></tr>
</tbody></table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</section>