<section>
<link rel="stylesheet" href="css/event-pictures.css">
	<h1>Events</h1>

	<h2>The 2016 Donor Reception</h2>
	<img id="or-01-2014" class="event-image" src="../css/event-pictures/donor-reception-2016/quick-donor-reception-001-2016.jpg">
	<p>
	The inaugural donor reception was held on Wednesday, April 20th from 5:00 - 7:00 at the Qwirk Gallery.  We invited donors who contributed $250 and above in the previous year.  Each donor received a 5 oz. bag of our "Recovery Roast".  Thank you everybody for coming out.
 	<br><br>
	A special thanks to Beth Skidmore for making this event happen!!!
	</p>

	<h2>The 2015 Oyster Roast</h2>
	<img id="or-01-2014" class="event-image" src="../css/event-pictures/oyster-roast-2015/oyesteroast-2015.JPG">
	<p>
	The Fourth Annual Oyster Roast was held at Deep Run Hunt Club on November 27, 2015.  The event was our largest event to date. 
	</p>

	<h2>The 2014 Oyster Roast</h2>
	<img id="or-01-2014" class="event-image" src="../css/event-pictures/oyster-roast-2014/or-01-2014.png">
	<p>
	The Third Annual Oyster Roast was held at Deep Run Hunt Club on November 28, 2014.  The event was our largest event to date. While the event was a big success, our family and friends will be forever impacted by losing a dear friend, Brendan Worst, the following week. Brendan was a close friend of Henry's and almost everyone who attended the Oyster Roast.  He was a big supporter of The JHW Foundation.
	</p>
	<p>
	Brendan and Henry. Long may you run! We love you and miss you!!
	</p>
	<h2>The 2013 Oyster Roast</h2>
	<img id="or-01-2013" class="event-image" src="../css/event-pictures/oyster-roast-2013/or-01-2013.png">
	<p>
	The second Oyster Roast to benefit The JHW Foundation, Inc. was held on November 28, 2013.  Over 300 people attended the event held at The Deep Run Hunt Club.
	</p>
	<h2>The 2012 Oyster Roast</h2>
	<img id="or-01-2012" class="event-image" src="../css/event-pictures/oyster-roast-2012/or-01-2012.png">
	<!-- W.I.P. - need to revisit creating a picture carousel 
		<span id="back-button">
		</span>
		<img id="or-01-2012" src="../css/event-pictures/oyster-roast-2012/or-01-2012.png">
		<span id="forward-button">
		</span>
	-->

	<p>
	The inaugural Oyster Roast to benefit The JHW Foundation, Inc. was held on November 23, 2012.  Over 250 people attended the event held at The Deep Run Hunt Club.
	</p>
	<h2>The 2011 Crab Grab</h2>
	<img id="crab-grab-2011" class="event-image" src="../css/event-pictures/crab-grab-2011.png">
	<p>
	In 2011, Henry's Fraternity, Kappa Sig at JMU, hosted the first fundraiser for The JHW Foundation, Inc.
	</p>
	
</section>