<section id="bodySection" class="test">
	<h1>The John Henry Watkins Foundation, Inc.</h1>
	<h2>Supporting young adult recovery</h2>
	<img id="homescreen-portrait" src="img/jhw-portriat.png">
	<p>
	The JHW Foundation is a not-for-profit foundation aimed at raising awareness about substance abuse and addiction in young people and supporting young adults in recovery.
	</p>
	<p>
	The Foundation, named in honor of our son, John Henry Watkins, III, goal is to raise awareness and educate communities about the disease of addiction in young people and to support programs that promote opportunities for lasting recovery in young adults between the ages of 14 - 25.
	</p>
	<p>
	We provide financial and technical assistance to collegiate recovery programs in Virginia; financial support to programs and organizations that provide quality care for substance abuse and addiction and support to individuals to assist with gaps in insurance coverage for treatment and sober living housing.
	<p>
	<a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ed8zn48c744de2c0&oseq=&c=&ch="> <img id="homescreen-portrait" src="https://mlsvc01-prod.s3.amazonaws.com/11e02e09301/9bde0cd7-439b-453c-817c-8f10ba86553c.png?ver=1476732864000"></a>
	</p>
	<section id="homepage-action-panel">
		
			<div class="action-item-container">
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SWHJSV6AYJURA" target="_blank">
				<span class="action-item">
					<img id="donate-action-image" src="../img/donate.png">
					<span id="donate-text">Donate</span>
				</span>
				</a>
				<span id="donate-subtext" class="action-text">Support the JHW Foundation in our efforts to  promote recovery. Every donation helps!</span>
			</div>
		
			
			<div class="action-item-container">	
			<a href="#projects" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');">
				<span class="action-item">
					<img id="get-involved-action-image" src="../img/get-involved.png">
					<span id="get-involved-text">Get Involved</span>
				</span>
				</a>
				<span id="get-involved-subtext" class="action-text">Cash donations are essential to our organization, but we also need volunteers to help us spread the word.</span>
			</div>
			
			<div class="action-item-container">	
				<a href="#projects" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');">
				<span class="action-item">
					<img id="mission-action-image" src="../img/our-mission.png">
					<span id="mission-text">Our Mission</span>
				</span>
				</a>	
				<span id="mission-subtext"class="action-text">We invest resources in organizations that promote opportunities for lasting recovery in young adults and their families.  We believe that all families deserve access to quality care for substance abuse and addiction.</span>
			</div>
		
</section>
	
</section>
