<section id="bodySection" class="test">
	<h1>The John Henry Watkins Foundation, Inc.</h1>
	<h2>Supporting young adult recovery</h2>
	<img id="homescreen-portrait" src="img/jhw-portriat.png">
	<p>
	The JHW Foundation is a not-for-profit foundation aimed at raising awareness about substance abuse and addiction in young people and supporting young adults in recovery..
	</p>
	<p>
	The Foundation, named in honor of our son, John Henry Watkins, III, goal is to raise awareness and educate communities about the disease of addiction in young people and to support programs that promote opportunities for lasting recovery in young adults between the ages of 14 - 25.
	</p>
	<p>
	We provide financial and technical assistance to collegiate recovery programs in Virginia; financial support to programs and organizations that provide quality care for substance abuse and addiction and support to individuals to assist with gaps in insurance coverage for treatment and sober living housing.
	<p>
</section>