	<nav role="navigation" class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand"></a>
        </div>
        <div id="navbarCollapse" class="nav-menu-font collapse navbar-collapse">
            <ul id="navBarList" class="nav navbar-nav">
                <li ><a href="#/">Home</a></li>
                <li ><a href="#news">News</a></li>
                <li ><a href="#events">Events</a></li>
                 <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">People<b class="caret"></b></a>
                    <ul id="peopleDropdownMenu" role="menu" class="dropdown-menu">
                       <li><a href="#board">Board</a></li>
                       <li><a href="#youngprofessionalboard">Young Professional Board</a></li>
                    </ul>
                </li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#homily">Homily</a></li>
                <li><a href="#aboutus">About Us</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">Contact Us<b class="caret"></b></a>
                    <ul id="peopleDropdownMenu" role="menu" class="dropdown-menu">
                       <li><a href="tel:+1-804-363-5679">Call Us</a></li>
                       <li><a href="mailto:jhwfoundationinc@aol.com?Subject=Hello%20again" target="_top">Email Us</a></li>
                    </ul>
                </li>
            </ul>
            <!--
            <ul class="nav navbar-nav navbar-right">  
                <li><a href="#">Login</a></li>
            </ul>-->
        </div>
    </nav>