
<h1>News</h1>
<h2>2015</h2>
<p>
	<b>December 17, 2015</b>
	<br>
	JHW goes to the Grand Canyon!
</p>
<img id="grand-canyon-img" class="news-image" src="../img/jhw-grand-canyon.png">
<br>
<br>
<p>
	<b>November 7, 2015</b>
	<br> 
	Haley Buick GMC shines a community spotlight on the JHW Foundation an organization that helps people with alcohol and drug addiction in young adults.  
	<br>
	<br>
	<a href="http://wric.com/2015/11/07/haley-buick-gmc-jhw-foundation/">Watch video here.</a>
</p>

<br>
<br>
<br>
<br>
