<section>
	<h1>Projects</h1>

	<h2 >Collegiate Recovery Programs</h2>
	<p>
	Collegiate recovery is support for students in recovery from addiction seeking a degree in higher education.
	</p>
	<p>
	Collegiate Recovery Communities (CRCs) have been rapidly growing in the last 10 years. CRC add tremendous value to the larger university community, saving the university tremendous amounts in tuition by attracting and retaining students at the school.  Students in CRCs have higher grade point averages and retention rates than the average student.  There is a nation-wide movement towards collegiate recovery. Some of the collegiate programs in Virginia include:  VCU Rams in Recovery, UVA Hoos in Recovery, JMU Dukes in Recovery and Longwood Recovers
	</p>
	<p>
		<a href="http://www.news.vcu.edu//article/Recovery_conference_draws_students_professionals_from_across#.U_uUPdns7tE.google_plusone_share" target="_blank">Recovery conference draws students, professionals from across Virginia - VCU News</a>
	</p>

	<h2>VCU Rams in Recovery</h2>
	<p>
	The JHW Foundation established two endowed funds at VCU.  The John Henry Watkins Endowed Fund will help provide financial support for VCU's Rams in Recovery program, established in 2013.  The John Henry Watkins Scholarship Fund will provide financial scholarships to qualified VCU students in recovery. These programs will help support recovering students facing the challenge of entering college/unviversity environments where a subculture emphasizes drinking and drug use. For more information click 
		<a href="http://www.thewell.vcu.edu/recovery.html" target="_blank">here</a>.
	</p>
	
	<h2>Virginia Collegiate Recovery Conference</h2>
	<p>
	The first Virginia Collegiate Recovery Conference was held in March 2014 at Virginia Commonwealth University (VCU) in Richmond, VA. The conference was an amazing opportunity to connect young people in recovery and exchange ideas about how to create safe environments for these young people on their own campuses. The event was supported by grants from The JHW Foundation and The Chris Atwood Foundation. A tremendous grassroots effort by two budding foundations! The next confernce is scheduled for March 27-28, 2015.
	</p>
	<p>
		<a href="http://www.news.vcu.edu//article/Recovery_conference_draws_students_professionals_from_across#.U_uUPdns7tE.google_plusone_share" target="_blank">Recovery conference draws students, professionals from across Virginia - VCU News
	</a>
	</p>

	<h2>Fund Raisers</h2>
	<p>
	Our main fundraiser is an Oyster Roast which is held in November. Last year the JHW Foundation hosted its second Oyster Roast at the Deep Run Hunt Club. Over 300 people attended to support the JHW Foundation. We raised over $25,ooo at the Oyster Roast.  Our goal is to double that in 2014 so we can continue to help start other Collegiate Recovery Communities in Virginia, assist youg adults with treatment, sober living housing and to educate the communities about the disease of addiction.
	</p>

	<h2>Treatment and Sober Living Housing</h2>
	<p>
	The JHW Foundation provides financial assistance for treatment and sober living housing for young adults who are committed to recovery but do not have the financial resources.  We donated $2,500 to the Healing Place of Virginia and another $2,500 to help individuals with treatment and housing.
	</p>	

	<h2>Raising Awareness</h2>
	<p>
	The JHW is committed to raising awareness about the disease of addiction and trying to remove the stigma associated with the disease. We held a showing of The Anonymous People at the Westhampton Theatre, over 200 people attended. We also spoke at the Virginia Department of Health about prescription drug abuse and addiction in young adults. We donated $2,500 to Substance Abuse Free Enviroment (SAFE) to support their prescription medication abuse education program.
	</p>	

</section>