<section>
	<h1>Young Professional Board</h1>
	<h2>Matthew O'toole</h2>
	<p>Born and raised in Richmond, Virginia, Matt did not meet Henry until the two become pledge brothers in the Fall of 2008 while pledging Kappa Sigma at JMU. Matt and Henry become close friends throughout that semester going to various social events together and hanging out in the dorms playing video games. When Henry left the University after his freshman year, Matt kept in contact with him in hopes that one day he would be able to return to the fun times in Harrisonburg, Virginia. Now, an active part of the Young Professionals Board, Matt enjoys planning the social events as a way to remember Henry because he always enjoyed a good time with great friends. Matt currently goes to University of Richmond School of Law. </p>

	<h2>Nicholas Sheehan</h2>
	<p>Nick is a friend of Henry's from their days together at James Madison University. Henry and Nick became good friends while living together in Maymester 2009.  Most memorably sharing car rides back and forth from Richmond to Harrisonburg each long weekend of the term.  While the conversations during the car rides were never the same, the one constant was Henry would not stand for any radio station other than Classic Rock 96.5.  As a member of the Young Professionals Board, Nick spends time creating solutions for the Foundation's techonological needs. He currently lives in Richmond, Virginia and works at Capital One as a software engineer building mobile applications.</p>

	<h2>Carter French</h2>
	<p>Bio coming soon!</p>

	<h2>Elizabeth Rumble</h2>
	<p>Bio coming soon!</p>

	<h2>Justin Phillips</h2>
	<p>Bio coming soon!</p>

</section>